
#nav {
  background-color:  #fffa98 !important;   
  top: 0;
  width: 100%;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.4);
      /*background-image: linear-gradient(to left,#fffa98, #ffffff);*/
}

/* the unordered list style inside nav section */
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
/*logo*/
#nav ul li img {
  height: 150px;
  transition: height 0.4s;
}
/* The container <li>/<div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  transition-duration: 0.5s;
    /*flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
/* Dropdown Button that containing the parent link*/
.dropbtn {
  background-color:  #fffa98 !important;   
  padding: 16px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
}
.dropbtn a{
  text-decoration: none;
  color:#4981b3 !important;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, .2);
  min-width: 170px;
  font-size: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-transform: uppercase;
}

/* Links inside the dropdown */
.dropdown-content a, dropbtn a{
  color:#2410d3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(233, 231, 115);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#nav ul li a:hover {
  color:#080808!important;  
  
}



/* ====Parallax style ===*/
.pd-parallax{
  position: relative;
    /* opacity: 0.65;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin: 0;
  padding: 0;
}

.pd-parallax h1{
  background-color: #fffa98;    /* #004085; //blue color*/
  text-align: center;
  color: #004085;
  padding: 20px;
}
.pd-parallax .pd-title{
  padding-top: 150px;
  width: 400px;
  margin: 0 auto;
}